@media screen and (max-width: 600px){
    header{
        padding: 0;
    }
    header .right-header{
        padding: 0 !important;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .left-header{
        .h-shape{
            display: none;
        }
    }
    .right-header{
        grid-row: 1;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 1.5rem !important;
        }
    }
    .header-content .left-header .image{
        margin: 0 auto;
        width: 90%;
    }
    .about-container{
        grid-template-columns: 1fr;
        padding: 10px 20px;
        .right-about{
            grid-template-columns: 1fr;
            padding-top: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
        }
    }
    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }
    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .blogs{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }
    .contact-content-container{
        flex-direction: column;
        padding: 0 0 4.5rem 0;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    #contact > div > div.contact-content-container > div.right-contact > form > div.input-control.i-control-2{
        flex-direction: column;
    }
    #contact > div > div.contact-content-container > div.right-contact > form > div.input-control.i-control-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;    
    }

    .section{
        padding: 2rem 1rem;
    }
    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2.3rem;
            }
        }
    }
    .controls{
        top:auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-primary);
        /* From https://css.glass */
        background: rgba(25, 29, 43, 0.21);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        // -webkit-backdrop-filter: blur(7px);
        border-top: 1px solid var(--color-secondary);
        border-left: 1px solid var(--color-secondary);
        border-right: 1px solid var(--color-secondary);
        .control{
            margin: 1rem .3rem;
        }
    }
}

